<div class="container mt-4" >
  <h1>Dashboard</h1>
  <br>
  <div>
    <h3> My upcoming Interviews</h3>
    <table class="table bg-white">
      <thead class="text-center">
        <tr>
          <th scope="col"></th>
          <th scope="col">Creator</th>
          <th scope="col">Participant</th>
          <th scope="col">Date</th>
          <th scope="col">Programming Languages</th>
          <th scope="col">Experience</th>
          <th scope="col">Interview Language</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @upcoming_interviews.each do |interview| %>
          <tr>
            <th scope="row"></th>
            <td><div class="d-block badge badge-light p-3"><%= link_to interview.user.nickname, user_path(interview.user)%> </div></td>
            <% if interview.bookings.present? %>
              <td><div class="d-block badge badge-light p-3"><%= link_to interview.bookings.first.user.nickname, user_path(interview.bookings.first.user)%> </div></td>
            <% else  %>
              <td class="table-light"><div class="d-block badge badge-light p-3"> None </div></td>
            <% end %>
            <td><div class="d-block badge badge-light p-3"><%= interview.time.strftime("%a %e.%m.%y | %l:%M") %></div></td>
            <td><div class="d-block badge badge-light p-3"><%= interview.focus %> </div></td>
            <td><div class="d-block badge badge-light p-3"><%= interview.experience %> </div></td>
            <td><div class="d-block badge badge-light p-3"><%= interview.interview_language %> </div></td>
            <td><div class="d-block badge badge-success p-3 text-light">Confirmed  </div></td>
            <td><%= link_to "→ Conduct Interview", interview_path(interview), class: "btn btn-primary" %> </div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> 

  <div>
    <h3> My pending Interviews</h3>
    <table class="table bg-white">
      <tbody>
        <% @pending_interviews.each do |interview| %>
          <tr>
            <th scope="row"></th>
             <td><div class="d-block badge badge-light p-3"><%= link_to interview.user.nickname, user_path(interview.user)%> </div> </td>
             <td><div class="d-block badge badge-ligh p-3"> None  </div></td>
             <td><div class="d-block badge badge-light p-3"><%= interview.time.strftime("%a %e.%m.%y | %l:%M") %></div></td>
             <td><div class="d-block badge badge-light p-3"><%= interview.focus %> </div></td>
             <td><div class="d-block badge badge-light p-3"><%= interview.experience %> </div></td>
             <td><div class="d-block badge badge-light p-3"><%= interview.interview_language %> </div></td>
             <td><div class="d-block badge badge-warning p-3">Pending </div></td>
          </tr>
        <% end %>  
      </tbody>
    </table>  </div>


  <% if !@past_interviews.empty? %>
    <div>
     <h3>My past Interviews</h3>
     <table class="table bg-white">
        <tbody>
          <% @past_interviews.each do |interview| %>
            <tr>       
              <th scope="row"></th>
              <td> <div class="d-block badge badge-light p-3"><%= link_to interview.user.nickname, user_path(interview.user)%></div> </td>
              <% if interview.bookings.present? %>
                <td><div class="d-block badge badge-light p-3"><%= link_to interview.bookings.first.user.nickname, user_path(interview.bookings.first.user)%></div> </td>
              <% else  %>
                <td><div class="d-block badge badge-light p-3"> None</div></td>
              <% end %>
              <td><div class="d-block badge badge-light p-3"><%= interview.time.strftime("%a %e.%m.%y | %l:%M") %></div></td>
              <td><div class="d-block badge badge-light p-3"><%= interview.focus %></div></td>
              <td><div class="d-block badge badge-light p-3"><%= interview.experience %></div></td>
              <td><div class="d-block badge badge-light p-3"><%= interview.interview_language %></div></td>
              <td><div class="d-block badge badge-secondary p-3 text-light">Over</div></td>
            </tr>
          <% end %> 
       </tbody>
     </table>
    </div>
  <% end %>
</div>

