<div class="container mt-4" >
  <h1>Dashboard</h1>
  <br>

  <div>
    <h3> My upcoming Interviews</h3>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Creator</th>
          <th scope="col">Participant</th>
          <th scope="col">Date</th>
          <th scope="col">Programming Languages</th>
          <th scope="col">Experience</th>
          <th scope="col">Interview Language</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @upcoming_interviews.each do |interview| %>
          <tr>
            <th scope="row"></th>
            <td class="table-light"><div class="badge badge-light  ml-2 p-3"> <%= link_to interview.user.nickname, user_path(interview.user)%> </div></td>
            <% if interview.bookings.present? %>
              <td class="table-light"><div class="badge badge-light ml-2 p-3"> <%= link_to interview.bookings.first.user.nickname, user_path(interview.bookings.first.user)%> </div></td>
            <% else  %>
              <td class="table-light"><div class="badge badge-light ml-2 p-3"> None </div></td>
            <% end %>
            <td class="table-light"><div class="badge badge-light ml-2 p-3"><%= interview.time.strftime("%a %e.%m.%y | %l:%M") %></div></td>
            <td class="table-light"> <div class="badge badge-light ml-2 p-3"> <%= interview.focus %> </div></td>
            <td class="table-light"> <div class="badge badge-light ml-2 p-3"><%= interview.experience %> </div></td>
            <td class="table-light"><div class="badge badge-light ml-2 p-3"> <%= interview.interview_language %> </div></td>
            <td class="table-light"><div class="badge badge-success ml-2 p-3">Confirmed  </div></td>
            <td class="table-light"><%= link_to "→ Conduct Interview", interview_path(interview), class: "btn btn-primary" %> </div></td>
            <td class="table-light">  <button type="button" class="btn btn-danger"> <%= link_to "✘ Cancel", interview_path(interview), method: :delete, data: { confirm: "Are you sure?"} %></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> 

  <div>
    <h3> My pending Interviews</h3>
    <table class="table">
  
      <tbody>
        <% @pending_interviews.each do |interview| %>
          <tr>
            <th scope="row"></th>
             <td class="table-light"><div class="badge badge-light ml-2 p-3"> <%= link_to interview.user.nickname, user_path(interview.user)%> </div> </td>
             <td class="table-light"><div class="badge badge-ligh ml-2 p-3"> None  </div></td>
             <td class="table-light"> <div class="badge badge-light ml-2 p-3"><%= interview.time.strftime("%a %e.%m.%y | %l:%M") %></div></td>
             <td class="table-light"><div class="badge badge-light ml-2 p-3"> <%= interview.focus %> </div></td>
             <td class="table-light"><div class="badge badge-light ml-2 p-3"> <%= interview.experience %> </div></td>
             <td class="table-light"> <div class="badge badge-light ml-2 p-3"><%= interview.interview_language %> </div></td>
             <td class="table-light"><div class="badge badge-warning ml-2 p-3">Pending </div></td>
             <td class="table-light"> <button type="button" class="btn btn-danger"> <%= link_to "✘ Delete", interview_path(interview), method: :delete, data: { confirm: "Are you sure?"} %></button></td>
          </tr>
        <% end %>  
      </tbody>
    </table>
  </div>


  <% if !@past_interviews.empty? %>
    <div>
     <h3>My past Interviews</h3>
     <table class="table">
        <tbody>
          <% @past_interviews.each do |interview| %>
            <tr>       
              <th scope="row"></th>
              <td class="table-light"> <div class="badge badge-light ml-2 p-3"><%= link_to interview.user.nickname, user_path(interview.user)%></div> </td>
              <% if interview.bookings.present? %>
                <td class="table-light"> <div class="badge badge-light ml-2 p-3"><%= link_to interview.bookings.first.user.nickname, user_path(interview.bookings.first.user)%></div> </td>
              <% else  %>
                <td class="table-light"><div class="badge badge-light ml-2 p-3"> None</div></td>
              <% end %>
              <td class="table-light"> <div class="badge badge-light  ml-2 p-3"><%= interview.time.strftime("%a %e.%m.%y | %l:%M") %></div></td>
              <td class="table-light"><div class="badge badge-light ml-2 p-3"> <%= interview.focus %></div></td>
              <td class="table-light"><div class="badge badge-light ml-2 p-3"> <%= interview.experience %></div></td>
              <td class="table-light"> <div class="badge badge-light ml-2 p-3"><%= interview.interview_language %></div></td>
               <td class="table-light"><div class="badge badge-secondary ml-2 p-3">Over </div></td>
            </tr>
          <% end %> 
       </tbody>
     </table>
    </div>
  <% end %>
</div>

