<div class="container mt-5" >
  <h1>DASHBOARD</h1>

  <div class="mt-5">
    <h3> My upcoming Interviews</h3>
    <% if @upcoming_interviews.empty? %>
       <p> You don't have any upcoming interviews yet </p>
    <% else %>
      <table class="table bg-white">
        <thead class="text-center">
          <tr>
            <th scope="col" style="border-top: 3px solid #f1ece1"></th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Creator</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Participant</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Date</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Programming Languages</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Experience</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Interview Language</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Status</th>
            <th scope="col" style="border-top: 3px solid #f1ece1"></th>
            <th scope="col" style="border-top: 3px solid #f1ece1"></th>
          </tr>
        </thead>
        <tbody>
          <% @upcoming_interviews.each do |interview| %>
            <tr>
              <th scope="row" style="border-top: 3px solid #f1ece1"></th>
              <td class="text-center align-middle"  style="border-top: 3px solid #f1ece1" data-toggle="tooltip" title=<%=interview.user.nickname%>>
                <% if interview.user.photo.attached? %>
                  <%= link_to (cl_image_tag interview.user.photo.key), user_path(interview.user), class: "dashboard-profile-link"%>
                <% else %>
                  <%= link_to image_tag ("https://res.cloudinary.com/yowyowyow/image/upload/v1606822793/default_profil_pic_ugryyk.jpg"), user_path(@interview.user)%>
                <% end %>
                </td>
              <td class="text-center align-middle"  style="border-top: 3px solid #f1ece1" data-toggle="tooltip" title=<%=interview.bookings.first.user.nickname%>>
                <% other_user = interview.bookings.where(interview_id: interview.id).first.user %>
                <% if other_user.photo.attached? %>
                  <%= link_to (cl_image_tag other_user.photo.key), user_path(other_user), class: "dashboard-profile-link"%>
                <% else %>
                  <%= link_to image_tag ("https://res.cloudinary.com/yowyowyow/image/upload/v1606822793/default_profil_pic_ugryyk.jpg"), user_path(@interview.user)%>
                <% end %>
              </td>
              <td class="text-center align-middle"  style="border-top: 3px solid #f1ece1"><div class="d-block badge badge-light py-2 px-3"><%= interview.date.strftime("%a %e.%m.%y") %> | <%= interview.start_time.strftime("%H:%M") %> - <%= interview.end_time.strftime("%H:%M") %></div></td>
              <td class="text-center align-middle"  style="border-top: 3px solid #f1ece1; width:7%"><div class="d-block badge badge-light py-2 px-3"><%= interview.focus %></div></td>
              <td class="text-center align-middle"  style="border-top: 3px solid #f1ece1; width:12%"><div class="d-block badge badge-light py-2 px-3"><%= interview.experience %></div></td>
              <td class="text-center align-middle"  style="border-top: 3px solid #f1ece1; width:9%"><div class="d-block badge badge-light py-2 px-3"><%= interview.interview_language %></div></td>
              <td class="text-center align-middle"  style="border-top: 3px solid #f1ece1; width:12%"><div class="d-block badge badge-success py-2 px-3 text-light">Confirmed</div></td>
              <td class="text-center align-middle"  style="border-top: 3px solid #f1ece1; width:12%"><%= link_to "→ Interview", interview_path(interview), class: "d-block badge badge-primary py-2 px-3" %></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1"><%= link_to "✘", interview_path(interview), class: "d-block badge badge-danger py-2 px-3", method: :delete, data: { confirm: "Are you sure?"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>


  <div class="mt-5">
    <h3> My pending Interviews</h3>
    <% if @pending_interviews.empty? %>
      <p> You don't have any pending interviews yet. </p>
    <% else %>
      <table class="table bg-white">
        <thead class="text-center">
          <tr>
            <th scope="col" style="border-top: 3px solid #f1ece1"></th>
            <th scope="col" style=" border-top: 3px solid #f1ece1">Creator</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Participant</th>
            <th scope="col" style=" border-top: 3px solid #f1ece1">Date</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Programming Languages</th>
            <th scope="col" style=" border-top: 3px solid #f1ece1">Experience</th>
            <th scope="col" style=" border-top: 3px solid #f1ece1">Interview Language</th>
            <th scope="col" style="border-top: 3px solid #f1ece1">Status</th>
            <th scope="col" style=" border-top: 3px solid #f1ece1"></th>
            <th scope="col" style=" border-top: 3px solid #f1ece1"></th>
          </tr>
        </thead>
        <tbody>
          <% @pending_interviews.each do |interview| %>
            <tr>
              <th scope="row" style="border-top: 3px solid #f1ece1"></th>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1"data-toggle="tooltip" title=<%=interview.user.nickname%>>
                <% if interview.user.photo.attached? %>
                  <%= link_to (cl_image_tag interview.user.photo.key), user_path(interview.user), class: "dashboard-profile-link"%>
                <% else %>
                  <%= link_to image_tag ("https://res.cloudinary.com/yowyowyow/image/upload/v1606822793/default_profil_pic_ugryyk.jpg"), user_path(@interview.user)%>
                <% end %>
              </td>
              <% if interview.bookings.present? %>
                <td class="text-center align-middle" style="border-top: 3px solid #f1ece1" data-toggle="tooltip" title=<%=interview.bookings.first.user.nickname%>>
                    <% other_user = interview.bookings.where(interview_id: interview.id).first.user %>
                  <% if other_user.photo.attached? %>
                    <%= link_to (cl_image_tag other_user.photo.key), user_path(other_user), class: "dashboard-profile-link"%>
                  <% else %>
                    <%= link_to image_tag ("https://res.cloudinary.com/yowyowyow/image/upload/v1606822793/default_profil_pic_ugryyk.jpg"), user_path(@interview.user)%>
                  <% end %>
                </td>
              <% else  %>
                <td class="text-center align-middle" style="border-top: 3px solid #f1ece1" ><div class="d-block badge badge-light py-2 px-3"> None</div></td>
              <% end %>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1"><div class="d-block badge badge-light py-2 px-3"><%= interview.date.strftime("%a %e.%m.%y") %> | <%= interview.start_time.strftime("%H:%M") %> - <%= interview.end_time.strftime("%H:%M") %></div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:7%"><div class="d-block badge badge-light py-2 px-3"><%= interview.focus %></div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:12%"><div class="d-block badge badge-light py-2 px-3"><%= interview.experience %></div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:9%"><div class="d-block badge badge-light py-2 px-3"><%= interview.interview_language %></div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:12%"><div class="d-block badge badge-warning py-2 px-3" >Pending </div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:12%"></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1"><%= link_to "✘", interview_path(interview), class: "d-block badge badge-danger py-2 px-3", method: :delete, data: { confirm: "Are you sure?"} %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>


  <div class="mt-5">
    <h3>My past Interviews</h3>
    <% if @past_interviews.empty? %>
      <p> You don't have any past interviews yet. </p>
    <% else %>
      <table class="table bg-white">
      <thead class="text-center">
        <tr >
          <th scope="col" style="border-top: 3px solid #f1ece1"></th>
          <th scope="col" style="border-top: 3px solid #f1ece1">Creator</th>
          <th scope="col" style="border-top: 3px solid #f1ece1">Participant</th>
          <th scope="col" style="border-top: 3px solid #f1ece1">Date</th>
          <th scope="col" style="border-top: 3px solid #f1ece1">Programming Languages</th>
          <th scope="col" style="border-top: 3px solid #f1ece1">Experience</th>
          <th scope="col" style="border-top: 3px solid #f1ece1">Interview Language</th>
          <th scope="col" style="border-top: 3px solid #f1ece1">Status</th>
          <th scope="col" style="border-top: 3px solid #f1ece1"></th>
          <th scope="col" style="border-top: 3px solid #f1ece1"></th>
        </tr>
        </tr>
        </thead>
        <tbody>
          <% @past_interviews.each do |interview| %>
            <tr>
              <th scope="row" style="border-top: 3px solid #f1ece1"></th>

               <td class="text-center align-middle" style="border-top: 3px solid #f1ece1" data-toggle="tooltip" title=<%=interview.user.nickname%>>
                <% if interview.user.photo.attached? %>
                  <%= link_to (cl_image_tag interview.user.photo.key), user_path(interview.user), class: "dashboard-profile-link"%>
                <% else %>
                  <%= link_to image_tag ("https://res.cloudinary.com/yowyowyow/image/upload/v1606822793/default_profil_pic_ugryyk.jpg"), user_path(@interview.user)%>
                <% end %>
              </td>
              <% if interview.bookings.present? %>
                <td class="text-center align-middle" style="border-top: 3px solid #f1ece1" data-toggle="tooltip" title=<%=interview.bookings.first.user.nickname%>>
                    <% other_user = interview.bookings.where(interview_id: interview.id).first.user %>
                  <% if other_user.photo.attached? %>
                    <%= link_to (cl_image_tag other_user.photo.key), user_path(other_user), class: "dashboard-profile-link"%>
                  <% else %>
                    <%= link_to image_tag ("https://res.cloudinary.com/yowyowyow/image/upload/v1606822793/default_profil_pic_ugryyk.jpg"), user_path(@interview.user)%>
                  <% end %>
                </td>
              <% else  %>
                 <td class="text-center align-middle" style="border-top: 3px solid #f1ece1" ><div class="d-block badge badge-light py-2 px-3"> None</div></td>
              <% end %>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1"><div class="d-block badge badge-light py-2 px-3"><%= interview.date.strftime("%a %e.%m.%y") %> | <%= interview.start_time.strftime("%H:%M") %> - <%= interview.end_time.strftime("%H:%M") %></div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:7%"><div class="d-block badge badge-light py-2 px-3"><%= interview.focus %></div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:12%"><div class="d-block badge badge-light py-2 px-3"><%= interview.experience %></div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:9%"><div class="d-block badge badge-light py-2 px-3"><%= interview.interview_language %></div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:12%"><div class="d-block badge badge-secondary py-2 px-3 text-light">Over</div></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1; width:12%"></td>
              <td class="text-center align-middle" style="border-top: 3px solid #f1ece1"><%= link_to "✘", interview_path(interview), class: "d-block badge badge-danger py-2 px-3", method: :delete, data: { confirm: "Are you sure?"} %></td>
            </tr>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
