<div class="container">
  <div>
    <h1>UPCOMING SESSIONS</h1>
  </div>

  <br>
  <div class="search-bar row justify-content-between">

      <%= simple_form_for interviews_path, method: :get, wrapper: :inline_form, html: {class: "form-inline w-100"} do |f| %>
        <%= f.input :start_time, as: :string %>
        <%= f.input :focus, as: :select, :collection => ['Ruby', 'JavaScript', 'HTML', 'CSS', 'PHP', 'Python', 'Java', 'C++', 'C#', 'Agora', 'Curl'], input_html: { class: "mr-sm-2" }, prompt: "Focus" %>
        <%= f.input :interview_language, :collection => ['english', 'german', 'french', 'spanish'], input_html: { class: "mr-sm-2" }, prompt: "Language" %>
        <%= f.input :experience, :collection => ['Beginner', 'Medium Level', 'Senior Level', 'Expert'], input_html: { class: " mr-sm-2" }, prompt: "Experience" %>
        <%= text_field_tag :query, params[:query], class: "col-4 mr-sm-2 form-control", placeholder: "Search for Nickname..." %>
        <%= f.button :submit, "Search", class: "btn btn-success col-2" %>
      <% end %>
  </div>
  <br>

  <h2>Today</h2>
    <div class="row justify-content-start">
      <% @interviews.each do |interview| %>
        <% if interview.time.today? %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <%= render partial: 'shared/card-index', locals: { interview: interview } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <br>
  <h2>Tomorrow</h2>
    <div class="row justify-content-start">
      <% @interviews.each do |interview| %>
        <% if interview.time.strftime("%Y-%m-%d") == Date.tomorrow.to_s %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <%= render partial: 'shared/card-index', locals: { interview: interview } %>
          </div>
        <% end %>
      <% end %>
    </div>
  <br>
  <h2>In the Future</h2>
    <div class="row justify-content-start">
      <% @interviews.each do |interview| %>
        <% if interview.time.strftime("%Y-%m-%d") > Date.tomorrow.to_s %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <%= render partial: 'shared/card-index', locals: { interview: interview } %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

<!-- <div class="card bg-white rounded shadow-sm col-12 col-sm-6 col-md-4 col-lg-3 m-4" style="width: 18rem; height: 14rem"> -->


