<div class="container ml-0 mr-0 mw-100">
  <div class="row">

    <!-- Interview question -->
    <div class="col-6 p-3" style="height: calc((100vh - 56px)/2);">
      <div class="rounded h-100 p-4 interview-task" style="background-color: #F4F4F4; overflow-y: auto">

        <!-- Task -->
        <h5>Task:</h5>
        <p> Write a method that sorts the keys in a hash by the length of the key as a string.</p>
        <hr>

        <!-- Input/ Output -->
        <h5>Example input/ output:</h5>
        <p class="my-2"> For instance, the hash:</p>
        <code>{ abc: 'hello', 'another_key' => 123, 4567 => 'third' }</code>
        <p class="my-2"> should result in:</p>
        <code>["abc", "4567", "another_key"]</code>
        <hr>

        <!-- Solution -->
        <h5 class="mt-3">Solution:</h5>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#case1">Show solution</button>
        <div id="case1" class="collapse in my-4">
          <p class="my-2">There are in fact multiple ways to accomplish this:</p>
          <code>hash.keys.map(&:to_s).sort_by(&:length)</code>
          <p class="my-2">or:</p>
          <code>hash.keys.collect(&:to_s).sort_by { |key| key.length }</code>
        </div>

      </div>
    </div>


    <!-- Video chat -->
    <div class="col-6 p-3" style="height: calc((100vh - 56px)/2);">
      <div id="twilio-token" data-twilio-token="<%= JSON.generate(@token) %>"></div>
      <div class="h-100 rounded" style="background-color: #F4F4F4;">
        <div id="remote-video" class="video-styling waiting h-100" style="position: relative;">
          <h4 class="align-items-center mt-0" style="color: black;">Waiting for <%= @other_user.nickname %> to join...</h4>
          <div id="local-video" style="bottom: 10px; right: 10px; width: 150px; height: 110px; position: absolute;">
            <div></div>
          </div>
          <div class="position-absolute" style="bottom: 15px; left: 15px; z-index: 1000;"><a href="#" class="video-call-button"><h3 class="m-0"><i class="fas fa-phone" style="color: green;"></i></h3></a></div>
          <div class="position-absolute" style="bottom: 15px; left: 65px; z-index: 1000;"><a href="#" class="video-hang-up"><h3 class="m-0"><i class="fas fa-phone-slash" style="color: red;"></i></h3></a></div>
        </div>
      </div>
    </div>


    <!-- Editor -->
    <div class="col-6 p-3" style="height: calc((100vh - 56px)/2)">
      <div class="rounded code-editor p-3" style="background-color: #F4F4F4; height: 100%">
        <div class="d-flex justify-content-between align-items-start">
          <div>
            <code contentEditable="true">
              <p><strong>1</strong> def sort_hash_keys_by_length(hash)</p>
              <p><strong>2</strong> //insert your code here</p>
              <p><strong>3</strong> end</p>
              <p><strong>4</strong></p>
              <p><strong>5</strong></p>
            </code>
          </div>
          <div class="btn btn-primary">Run code</div>
        </div>
      </div>
    </div>

    <!-- Chat -->
    <div class="col-6 p-3" style="height: calc((100vh - 56px)/2);">
      <div class="d-flex flex-column justify-content-end p-3 h-100 rounded" style="background-color: #F4F4F4;">

        <!-- Chat messages: -->
        <div id="messages" data-interview-id="<%= @interview.id %>" style="overflow-y: auto;">
          <% @interview.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>

        <!-- Chat input: -->
        <%= simple_form_for [ @interview, @message ], remote: true do |f| %>
          <div class="d-flex chat-input mt-2" style="height: 60px;);">
            <%= f.input_field :content, label: false, placeholder: "Send a message to #{@other_user.nickname}", class: "flex-grow-1 chat-message rounded p-2", id: "name" %>
            <button name="button" type="submit" class="chat-button mr-2" id="chat-submit">
              <i class="fas fa-paper-plane"></i>
            </button>
            <script>
              var button = document.querySelector("#chat-submit");
              document.getElementById("name").focus();
              document.getElementById('name').addEventListener('keypress', (event) => {
                if (event.keyCode == 13) {
                  event.preventDefault();
                  button.click();
                }
              });
            </script>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>
