<div class="container ml-0 mr-0 mw-100">

  <div class="row">
    <div class="col-6 p-0" style="height: calc((100vh - 56px)/2);">
      <div class="d-flex align-items-center justify-content-center">
        <h2>Interview Case <br> (Instructions)</h2>
      </div>
    </div>

    <div class="col-6 p-0" style="height: calc((100vh - 56px)/2);">
      <!-- Video chat -->
      <div id="twilio-token" data-twilio-token="<%= JSON.generate(@token) %>"></div>
      <div id="remote-video" class="video-styling waiting h-100" style="background-color: black; margin: 0 auto; position: relative; top: 0;">
        <h3>Waiting for <%= @other_user.nickname %> to join...</h3>
        <div id="local-video" style="bottom: 50px; right: 0px; width: 150px; height: 50px; position: absolute;">
          <div></div>
        </div>
      </div>
        <div class="position-absolute" style="bottom: 8px; left: 12px; z-index: 1000;"><a href="#" class="video-call-button"><h3><i class="fas fa-phone" style="color: green;"></i></h3></a></div>
        <div class="position-absolute" style="bottom: 8px; left: 60px; z-index: 1000;"><a href="#" class="video-hang-up"><h3><i class="fas fa-phone-slash" style="color: red;"></i></h3></a></div>

    </div>


    <!-- Editor -->
    <div class="col-6 p-0" style="height: calc((100vh - 56px)/2);">
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag("console_screenshot.png", width: "100%", height: "372.6px", overfow: "hidden") %>
      </div>
    </div>

    <!-- Chat -->
    <div class="col-6 p-0" style="height: calc((100vh - 56px)/2);">
      <div class="d-flex flex-column justify-content-center bg-white p-3 h-100">

        <!-- Chat messages: -->
        <div id="messages" data-interview-id="<%= @interview.id %>" style="overflow-y: auto">
          <% @interview.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>

        <!-- Chat input: -->
        <%= simple_form_for [ @interview, @message ], remote: true do |f| %>
          <div class="d-flex chat-input mt-2" style="height: 60px;">
            <%= f.input_field :content, label: false, placeholder: "Add a message for #{@other_user.nickname}", class: "flex-grow-1 chat-message rounded p-2", id: "name" %>
            <button name="button" type="submit" class="chat-button" id="chat-submit">
              <i class="fas fa-paper-plane"></i>
            </button>
            <script>
              var button = document.querySelector("#chat-submit");
              document.getElementById("name").focus();
              document.getElementById('name').addEventListener('keypress', (event) => {
                if (event.keyCode == 13) {
                  event.preventDefault();
                  button.click();
                }
              });
            </script>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
