<div class="form d-flex align-items-center" style="height: calc(100vh - 56px); background-color: #f1ece1;">

  <div class="font-weight-bold">
    <h2>Confirm your interview <br> with <%= @interview.user.nickname %>!</h2>
    <p class="text-muted">Then you are all set for some interview practice ðŸš€</p>
  </div>

  <div class="bg-white rounded shadow-sm position-relative" style="width: 580px; border: 1px solid rgba(155,164,180,0.4)">
    <div class="d-flex justify-content-between align-items-center position-absolute w-100 px-4" style="height: 70px; border-radius: 3px 3px 0px 0px; background-color: rgba(155,164,180,0.4)">

      <!-- Coding language -->
      <div>
        <% if @interview.focus == "Ruby" %>
          <p class="m-0 py-1 px-2 text-white rounded" style="background-color: #D63333; font-size: 16px; font-weight: bold;">Ruby</p>
        <% elsif @interview.focus == "Javascript" %>
          <p class="m-0 py-1 px-2 text-white rounded" style="background-color: #E4BA42; font-size: 16px; font-weight: bold;">Javascript</p>
        <% elsif @interview.focus == "HTML/CSS" %>
          <p class="m-0 py-1 px-2 text-white rounded" style="background-color: #0070BA; font-size: 16px; font-weight: bold;">HTML/CSS</p>
        <% end %>
      </div>

      <!-- Nickname and Avatar -->
      <div class="d-flex align-items-center">
        <p class="my-0" style="font-size: 16px; font-weight: bold;"><%= @interview.user.nickname %></p>
        <% if @interview.user.photo.attached? %>
          <%= link_to (cl_image_tag @interview.user.photo.key), user_path(@interview.user), class: "avatar-style-large ml-2"%>
        <% else %>
          <%= link_to cl_image_tag("https://res.cloudinary.com/yowyowyow/image/upload/v1606822793/default_profil_pic_ugryyk.jpg"), user_path(@interview.user), class: "ml-2 avatar-style-large"%>
        <% end %>
      </div>
    </div>

    <!-- Placeholder div to reflect height of overlay and shift down elements -->
    <div style="height: 70px"></div>

    <!-- Info elements -->
    <div class="row m-0">

    <!-- Date -->
      <div class="col-6 p-0">
        <div class="mx-4 my-3 d-flex align-items-center">
          <div class="mr-2" style="width: 40px;">
            <h3 class="text-secondary my-0"><i class="far fa-calendar-alt"></i></h3>
          </div>
          <p class="my-0" style="font-size: 16px"><span style="font-weight: bold;">Date: </span><%= @interview.date.strftime("%a %e.%m.%y") %></p>
        </div>
      </div>

    <!-- Time -->
      <div class="col-6 p-0">
        <div class="mx-4 my-3 d-flex align-items-center">
          <div class="mr-2" style="width: 40px;">
            <h3 class="text-secondary my-0"><i class="far fa-clock"></i></h3>
          </div>
          <p class="my-0" style="font-size: 16px"><span style="font-weight: bold;">Time: </span><%= @interview.start_time.strftime("%H:%M") %> - <%= @interview.end_time.strftime("%H:%M") %></p>
        </div>
      </div>

    <!-- Interview difficulty -->
      <div class="col-6 p-0">
        <div class="mx-4 my-3 d-flex align-items-center">
          <div class="mr-2" style="width: 40px;">
            <h3 class="text-secondary my-0"><i class="fas fa-dumbbell"></i></h3>
          </div>
          <p class="my-0" style="font-size: 16px;"><span style="font-weight: bold;">Difficulty: </span><%= @interview.experience %></p>
        </div>
      </div>

    <!-- Interview language -->
      <div class="col-6 p-0">
        <div class="mx-4 my-3 d-flex align-items-center">
          <div class="mr-2" style="width: 40px;">
            <h3 class="text-secondary my-0"><i class="far fa-comment-dots"></i></h3>
          </div>
          <p class="my-0" style="font-size: 16px;"><span style="font-weight: bold;">Language: </span><%= @interview.interview_language %></p>
        </div>
      </div>

      <div class="col-12 p-0">
        <div class="mx-4 my-3 d-flex align-items-center">
          <div class="mr-2" style="width: 40px;">
            <h3 class="text-secondary my-0"><i class="fas fa-id-card"></i></h3>
          </div>
          <p class="my-0" style="font-size: 16px;"><span style="font-weight: bold;">User bio: </span></p>
        </div>

        <div class="p-4 mx-4 mb-4 rounded" style="background-color: #F4F4F4;">
          <p class="m-0"><%= @interview.user.bio %></p>
        </div>
      </div>

    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-between px-4 pb-4">
      <%= link_to "â† Go Back", :back, class: "btn btn-secondary" %>
      <%= link_to "â†’ Confirm booking", interview_bookings_path(@interview), method: :post, class: "btn btn-primary" %>
    </div>

  </div>

</div>
