<div class="container">
  <div class="card d-flex align-items-center" style="width: 18rem; height: 20rem">
    <div>
      <div>
        <i class="far fa-clock"></i>
      </div>
      <div>
        <%= @interview.time.strftime("%a %e.%m.%y | %l:%M") %>
      </div>
    </div>

    <div>
      <div>
        <i class="fas fa-terminal"></i>
      </div>
      <div>
        <%= @interview.focus %>
      </div>
    </div>

    <div>
      <div>
        <i class="far fa-comments"></i>
      </div>
      <div>
        <%= @interview.interview_language %>
      </div>
    </div>

    <div>
      <div>
        <!-- Avatar -->
      </div>
      <div>
        <%= @interview.user.nickname %>
        <%= @interview.user.bio %>
      </div>
    </div>
    <div>
      <div>
        <%= link_to "Go Back", :back, class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to "→ Confirm booking", dashboard_index_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
