
<div class="container mt-5" >
  <div class="d-flex justify-content-between">
    <div class="#">
      <div>
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :fill , class: "rounded-circle m-10"%>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/yowyowyow/image/upload/v1606822793/default_profil_pic_ugryyk.jpg",height: 200, width: 200, crop: :fill, class: "rounded-circle" %>
        <% end %>
      </div>


      <% if @user == current_user %>
        <%= link_to "Edit Profil", edit_user_registration_path, class: "btn btn-primary m-10 p-3" %>
      <% end %>
    </div>

    <div>
      <div class="card bg-white rounded shadow-sm p-3 mr-5">
        <h3>Hi, I'm <%= @user.nickname  %></h3>
        <p></p>
        <p> Member since: May 2020 </p>
        <p> Number of Interviews: 4 </p>
        <p> Speaks: English and Spanish </p>
      </div>

      <div class="card bg-white rounded shadow-sm p-3 my-3 mr-5">
        <h3>Bio</h3>
        <p><%= @user.bio %></p>
      </div>

      <div class="card bg-white rounded shadow-sm p-3 my-3 mr-5">
        <h3>Programming Language and Experience</h3>
        <div>
          <h2 class="badge badge-danger mx-2 p-2 text-danger text-center" style="display:inline-block; width:45px; background-color: rgba(253, 16, 21, 0.3)">Ruby </h2> Beginner
        </div>
        <div>
          <h2 class="badge badge-warning mx-2 p-2 text-warning text-center" style="display:inline-block; width:45px; background-color: rgba(230, 126, 34, 0.3)">CSS</h2> Intermediate </div>
        </div>
      </div>
    </div>
  </div>
</div>
