<div class="card bg-white rounded shadow-sm p-3 my-3 mr-5" style="width: 17rem; height: 13rem">
  <div class="d-flex align-items-center w-100">
    <div class= "mr-auto mt-2">
      <h5><%= link_to interview.user.nickname, interview_path(interview) %></h5>
    </div>
    <div class="mr-2">
      <% if interview.interview_language == "French" %>
        <%= cl_image_tag("france_j1bcee.png", width: 30, height: 30) %>
      <% elsif interview.interview_language == "English" %>
        <%= cl_image_tag("united-kingdom_vcgmov.png", width: 30, height: 30) %>
      <% elsif interview.interview_language == "German" %>
        <%= cl_image_tag("germany_uacttu.png", width: 30, height: 30) %>
      <% elsif interview.interview_language == "Spanish" %>
        <%= cl_image_tag("spain_v7zi4g.png", width: 30, height: 30) %>
      <% else %>
        <%= cl_image_tag("united-kingdom_vcgmov.png", width: 30, height: 30) %>
      <% end %>
    </div>
    <div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>
  </div>
  <div class="d-flex justify-content-start align-items-center w-100 mt-3">
    <div>
      <h4 class= "text-center text-secondary mt-1 mb-2 mr-2"><i class="far fa-clock"></i></h4>
    </div>
    <div class="badge badge-secondary flex-fill ml-2 p-2 mb-2 text-muted" style="background-color: rgba(155, 164, 180, 0.3)">
      <p class="mb-0"><%= interview.date.strftime("%a %e.%m.%y") %> | <%= interview.start_time.strftime("%H:%M") %> - <%= interview.end_time.strftime("%H:%M") %></p>
    </div>
  </div>
  <div class="d-flex justify-content-start align-items-center w-100" style="height: 5rem">
    <div>
      <h5 class= "text-center text-secondary mt-1 mb-1 mr-2"><i class="fas fa-terminal"></i></h5>
    </div>
    <!-- <div>
      <h2 class="badge badge-success mx-2 p-2 text-success text-center" style="display:inline-block; width:45px; background-color: rgba(30, 221, 184, 0.3)">JS</h2>
    </div> -->
    <div>
      <h2 class="badge badge-danger mx-2 p-2 text-danger text-center" style="display:inline-block; width:45px; background-color: rgba(253, 16, 21, 0.3)">Ruby</h2>
    </div>
    <!-- <div>
      <h2 class="badge badge-warning mx-2 p-2 text-warning text-center" style="display:inline-block; width:45px; background-color: rgba(230, 126, 34, 0.3)">CSS</h2>
    </div> -->
  </div>
  <div class="d-flex align-items-start w-100">
    <%= link_to "→ Confirm booking", new_interview_booking_path(interview.id), class: "btn btn-primary w-100" %>
  </div>
</div>
