<div class="bg-white">
  <div class="home-banner position-relative" style="background-image: linear-gradient(to right, rgba(0,0,0,0.9), #0000), url(<%= cl_image_path 'https://res.cloudinary.com/yowyowyow/image/upload/v1606840623/AdobeStock_278561294_e9bsa1.jpg'%>)">
    <div class="container text-white my-5">

      <div class="logo mb-5">
        <%= cl_image_tag("CC_icon_white_text_white_t5myoe.png", width: 250, height: 50) %>
        <div class="logo_text">Hello World!</div>
      </div>

      <div class="mb-5" >
        <h2>Practice coding interviews <br> with like-minded companions for free</h2>
      </div>

      <div>
        <%= link_to "→ See available interviews", interviews_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center flex-column" style="height: 710px;">
    <h1 class="mb-5 text-center">HOW IT WORKS</h1>

    <div class="cards mt-5">

      <div style="width: 18rem; margin: auto; text-align: center;">
        <img src="http://res.cloudinary.com/yowyowyow/image/upload/v1606753783/Icon-Termin_ikvws6.png" alt="Icon-booking" style="height: 120px;">
        <div class="text-center mt-5">
          <h5>1. Book a session</h5>
          <p>Browse available interview sessions created by other users. Book a session or create a new one.</p>
        </div>
      </div>

      <div style="width: 18rem; margin: auto; text-align: center;">
        <img src="http://res.cloudinary.com/yowyowyow/image/upload/v1606753923/Icon-Webcam_wbtyqv.png" alt="Icon-booking" style="height: 120px;">
        <div class="text-center mt-5">
          <h5>2. Conduct the interview</h5>
          <p>Meet your coding companion via video chat. You and your companion interview each other in turns.</p>
        </div>
      </div>

      <div style="width: 18rem; margin: auto; text-align: center;">
        <img src="http://res.cloudinary.com/yowyowyow/image/upload/v1606753867/Icon-Thumbs_wsmqgs.png" alt="Icon-booking" style="height: 120px;">
        <div class="text-center mt-5">
          <h5>3. Land your dream job</h5>
          <p>Conduct as many mock interviews as you like and be optimally prepared for your upcoming job interviews.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #f1ece1;">
  <div class="container d-flex justify-content-center flex-column" style="height: 710px;">
    <h1 class="mb-5 text-center">JOIN AN UPCOMING INTERVIEW</h1>
    <div class="row justify-content-start">
      <% @interviews.each do |interview| %>
        <div class="col-3 my-3">
          <%= render partial: 'shared/card-index', locals: { interview: interview } %>
        </div>
      <% end %>
    </div>
    <%= link_to "→ See all available interviews", interviews_path, class: "btn btn-primary mt-4", style: "width: 240px; margin: 0 auto;" %>
  </div>


  <%= render partial: 'shared/footer' %>
</div>
