<div class="home-banner position-relative" style="background-image: linear-gradient(to right, rgba(0,0,0,0.9), #0000), url(<%= cl_image_path 'image_r3re4y.png'%>)">
  <div class="container text-white my-5">

    <div class="logo mb-5">
      <%= cl_image_tag("CC_icon_white_text_white_t5myoe.png", width: 250, height: 50) %>
      <div class="logo_text">Hello World!</div>
    </div>

    <div class="mb-5" >
      <h2>Practice coding interviews <br> with like-minded companions for free</h2>
    </div>

    <div>
      <%= link_to "→ See available interviews", interviews_path, class: "btn btn-primary" %>
    </div>
  </div>

  <%= link_to "→ Login", new_user_session_path, class: "position-absolute btn btn-secondary shadow-sm", style: "top:50px; right:210px; color:white;" %>
  <%= link_to "+ Sign up", new_user_registration_path, class: "position-absolute btn btn-secondary shadow-sm", style: "top:50px; right:100px; color:white;" %>

</div>
