<!DOCTYPE html>
<html>
  <head>
    <title>Coding Companion | Practice coding interviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Practice coding interviews online. Coding Companion connects you with like-minded companions to prepare you for your job interviews.">
    <meta property="og:site_name" content="Coding Companion | Europe's Best Coding Interview Prep Platform">
    <meta property="og:title" content="Coding Companion | Practice coding interviews">
    <meta property="og:url" content="https://www.coding-companion.com/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://res.cloudinary.com/yowyowyow/image/upload/v1606925475/AdobeStock_278561294_FB_qswjz6.jpg">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if controller_name == "pages"%>
      <%= render 'shared/navbar-home' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
